<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>

		<ResourceId>/subscriptions/017ebe7d-5127-40f6-8231-3e9d58354fa8/resourceGroups/aryan-capstone-sql-01/providers/Microsoft.Web/sites/capstone-api-aryan</ResourceId>
		<ResourceGroup>aryan-capstone-sql-01</ResourceGroup>

		<!-- IMPORTANT: Disable APIM update -->
		<UpdateApiOnPublish>false</UpdateApiOnPublish>

		<PublishProvider>AzureWebSite</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>https://capstone-api-aryan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>

		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>5144a1da-2e14-4178-9d16-0d8aa233bc6b</ProjectGuid>

		<MSDeployServiceURL>capstone-api-aryan.scm.azurewebsites.net:443</MSDeployServiceURL>
		<DeployIisAppPath>capstone-api-aryan</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
		<UserName>$capstone-api-aryan</UserName>
		<_SavePWD>true</_SavePWD>
		<_DestinationType>AzureWebSite</_DestinationType>
		<InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>

		<!-- These are fine to keep, but APIM is already disabled by UpdateApiOnPublish=false -->
		<SwaggerGenerate>False</SwaggerGenerate>
		<EnableApiManagement>False</EnableApiManagement>
		<UpdateApiMApi>False</UpdateApiMApi>
		<ApiMEnabled>false</ApiMEnabled>
	</PropertyGroup>
</Project>
